{% load staticfiles %}
<html lang="en" >
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Meds And Mend : Your Personal Heatlhcare Companion</title>
		<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Antic'>
		<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'homepage/style.css' %}">
		<!--<link rel="stylesheet" href="css/demo.css">
		<link rel="stylesheet" href="css/header-basic-light.css">
		<meta charset="utf-8">

		<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
		<!--<title>Light, Basic Header</title>-->
	</head>
	<!--{% block body %}-->
	<body background="./image/background1.jpg">
		<header class="header-basic-light">
			<div class="header-limiter">
				<h1><a href="{% url 'navigation:index' %}">Meds<span>And<span>Mend</span></span></a></h1>
				<nav>
					<!--<a href="#" class="selected">Home</a>-->
					<a href = "{% url 'navigation:index' %}" class="selected">Home</a>
					<a href="{% url 'navigation:about' %}">About</a>
					<a href="{% url 'navigation:faq' %}">Faq</a>
					<a href="{% url 'navigation:contact' %}">Contact</a>
				</nav>
			</div>
		</header>

		<div align="left">
			<br><br><br><br><br>
			<div class="text">Meds And Mend</div>
			<br><br><br>
			<form id = "mySearch" method="POST" action = "{% url 'navigation:result' %} ">
				{% csrf_token %}
				<input class="productbox" placeholder="Type your medicine name..." name="userkeyword"/><br><br><br>
				{% csrf_token %}
				<input class="allergybox" placeholder="Do you have any allergy?" name="userallergy"/><br><br><br>
				<input type="submit" name="search" value="search">
				<!--<button class="searchbutton" type ="submit" value="Search">-->
			</form>
		</div>
		<script src='https://use.edgefonts.net/amaranth.js'></script>
	</body>
	<!--{% endblock %}-->
</html>
