<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" >
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Meds And Mend : Your Personal Heatlhcare Companion</title>
		<!--search box font-->
		<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Antic'>
		<!--Logo meds and mend font-->
		<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'homepage/style.css' %}">
		<!--Title Meds and Mend font-->
		<script src='https://use.edgefonts.net/amaranth.js'></script>
	</head>
	<!--{% block body %}-->
	<body background="../static/homepage/image/background1.jpg">
		<header class="header-basic-light">
			<div class="header-limiter">
				<h1><a href="{% url 'navigation:index' %}">Meds<span>And<span>Mend</span></span></a></h1>
				<nav>
					<a href = "{% url 'navigation:index' %}" class="selected">Home</a>
					<a href="{% url 'navigation:about' %}">About Us</a>
					<a href="{% url 'navigation:contact' %}">Contact Us</a>
				</nav>
			</div>
		</header>

		<div align="left">
			<br><br><br><br><br>
			<div class="text">Meds And Mend</div>
				<br>

				<form id = "mySearch" method="POST" action = "{% url 'navigation:result' %} ">
					<p>**No location found. Try again**</p>
					{% csrf_token %}
					<input class="productbox" placeholder="Type your medicine name..." name="userkeyword"/><br><br><br>
					{% csrf_token %}
					<input class="allergybox" placeholder="Do you have any allergy?" name="userallergy"/><br><br><br>
					{% csrf_token %}
					<input class="locationbox" placeholder="Enter your location" name="userlocation"/><br><br><br>
					<input class="button" type="submit" name="search" value="Search">
				</form>
			</div>

	</body>
	<!--{% endblock %}-->
	<footer>
		<header class="headerfooter">
			<div class="footer">
				<p>Copyright &#169; 2017 Meds and Mend</p>
			</div>
		</header>
	</footer>
</html>
