<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Meds And Mend : Your Personal Heatlhcare Companion</title>
		<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Antic'>
		<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'homepage/style.css' %}">
	</head>
	<body>
		<header class="header-basic-light">
			<div class="header-limiter">
				<h1><a href="{% url 'navigation:index' %}">Meds<span>And<span>Mend</span></span></a></h1>
				<nav>
					<a href = "{% url 'navigation:index' %}">Home</a>
					<a href="{% url 'navigation:about' %}">About Us</a>
					<a href="{% url 'navigation:contact' %}">Contact Us</a>
				</nav>
			</div>
		</header>
		<br><br><br><br><br>
		<!--<button class="again" type ="submit" href ="{% url 'navigation:index' %}';">Search more</button>-->
		<div align="center">
			<div class="nolocation">
			    <p>Opss! Your entered location cannot be found.</p>
            </div>
			<br><br>
		</div>

		<div class="container">
			<!--<div class="floatleft">-->
			<div class="floatcenter" align="center">
				{% for page in item %}
					{% for item2 in page.searchitem_set.all %}
							<ul class="product-list-basic">
								<li>
									<a class="product-photo"><img src="{{ item2.item_image }}" height="200" alt="" /></a>
									<p class="product-name">{{ item2.item_name }}</p>
									<p class="product-allergy">{{ item2.item_allergy }}</p>
									<p class="product-price">{{ item2.item_price }}</p>

									<button type ="submit" onclick ="location.href = '{{item2.item_link }}';">View more</button>
								</li>
							</ul>
						<br>
					{% endfor %}
				{% endfor %}
			</div>

			<!--<div class="floatright">
			<!--<iframe width="600" height="450" frameborder="0" style="border:0"
						src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD03Z8_JUTuBemqY6rrPZTOl2xXtsGVHjc=Space+Needle,Seattle+WA" allowfullscreen>
				</iframe>-->
				<!--<input class="button" type="submit" name="search" value="Search"><!--class="store-location"-->
				<!--<a href = "{{resultLocation}}" class="button" name="search" onclick="window.open = '{{resultLocation}}'"
				target="_blank">Click to see nearest store </a>
			</div>-->
		</div>
	</body>
	<br><br><br>
</html>